/* Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #054223; 
}

.form-container {
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); 
    background-color: #76A58B; 
    max-width: 400px;  
    width: 100%; 
    box-sizing: border-box; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

input {
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #E8B750; 
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #E8B750; 
}

